---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/custom-tailwind.css";

interface Props {
	meta: {
		description: string;
		title: string;
		useDefaultSuffix: boolean;
	};
	navbar?: boolean;
}

const { meta, navbar = true } = Astro.props;

if (meta.useDefaultSuffix) {
	meta.description += " | Menix";
	meta.title += " | Menix";
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={meta.description} />
		<title>{meta.title}</title>

		<meta property="og:url" content="https://menix-os.org" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={meta.title} />
		<meta property="og:description" content={meta.description} />
		<meta property="og:image" content="https://menix-os.org/favicon.svg" />
	</head>
	<body
		class="dark:bg-zinc-950 bg-zinc-50 text-gray-900 dark:text-gray-50 font-rubik"
	>
		<div class="min-h-screen flex flex-col">
			{navbar && <Navbar />}
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
	}
</style>
